@charset "utf-8";
.canvaswrapper {
    display: flex;
	flex-direction: column;
    border-width: thin;
    border-style: none;
}
.gamewrapper {
    float: left;
    display: flex;
    margin-left: -8px;
}

.Itemsheet {
    width: 403px;
    height: 976px;
    display: flex;
    flex-direction: column;
    margin-top: -1px;
}

.abilities {
    border-width: thin;
    border-style: solid;
    height: 214px;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-top: 14px;
    margin-left: -8px;
    width: 2552px;
    margin-top: -2px;
}


.headbanner {
    height: 88px;
    border-width: thin;
    border-style: solid;
    margin-top: -8px;
    margin-left: -8px;
    width: 2558px;
}


.body {
	background-color:darkslategray;
	overflow:hidden;
}
.body .htmlstatscont {
    width: 0px;
    height: 0px;
    display: none;
}
